body{
    font-family: 'Montserrat';
    text-align: center;
}
#title{
    background-color: #fd5564;
    font-family: 'ubuntu';
    text-align: left;
}

h1,h2,h3
{
    font-family: 'Montserrat';
}
h1 
{
  color: white; 
  padding-top: 50px;
}
h2{
    line-height: 1.5;
}
.container{
    padding: 3% 15% 25%;
}
.iphone6{
    transform: rotate(25deg);
    padding-left: 50px;
    padding-top: 50px; 
    transition: transform .5s ease-out;
    position: absolute;
}
.iphone6:hover{
    transform: rotate(0deg);
}
.opening_text{
    font-size: 3.4rem;
    line-height: 70px;
}
.nav-item{
    font-size: 1.4rem;
}
.navbar{
    font-size: 2.4rem;
}
#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
}
.feature-box{
    padding: 5%;
    /* text-align: center; */
}
.fa-solid{
    margin-bottom: 1rem;
    color: #FD5564;
}
.fa-solid:hover{
    color: #ef4a75;
}
#testimonials{
    
    /* text-align: center; */
    background-color: #FD5564;
    color: white;
}
.carousel-item{
    padding: 7% 19%;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #FD5564;
    /* text-align: center; */
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    padding: 20px 20px 50px;
}
#pricing{
    padding: 100px;
    /* text-align: center; */
}
.pricing-column{
    padding: 3% 2%;
}
@media (max-width:1028px){

    #title{
        text-align: center;
    }

    .iphone6{
        position: static;
        transform: rotate(0deg);
        padding-left: 0px;
    }
}
.foter{
    color: white;
    padding: 5%;
    background-color: #fd5564;
    /* text-align: center; */
}
.foter-text{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    padding-bottom: 50px;
    width: 70%;
    margin: auto;
}

#footer{
    /* text-align: center; */
    padding: 5%;
    background-color: white;
}
.fa{
    padding: 1%;
}
.copyright{
    color: rgba(0, 0, 0, 0.399);
    font-size: 1rem;
}